@page "/"
@using Configurations
@inject IDomainService DomainService
<PageTitle>Home</PageTitle>

<h1>Host : @host</h1>

Welcome to your new app.
@code{

	string host;

	protected override void OnInitialized()
	{
		
			host = DomainService.Domain();
		
	}
}