@inherits LayoutComponentBase

@inject IToastService toastService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("I'm an INFO message"))">Info Toast</button>
            <RadzenButton Click="@ButtonClicked" Text="Merhaba"></RadzenButton>
            @code {
                void ButtonClicked()
                {
                    toastService.ShowInfo("Merhabalar");
                }
            }
            @Body
            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="fa fa-thumbs-up"
                            ErrorIcon="fa fa-bug" />
            <RadzenComponents />

        </article>
    </main>
</div>
